body{
	background-image: url("http://ctbythenumbers.info/files/2013/05/Law-of-Large-Numbers.jpg");
}

.heading{
	 padding-top: 20px;
	 padding-bottom: 10px;
	 text-align: center;
}

h2{
	font-size: 50px;
	font-family: courier;
	color: white;
}

.box{
	width: 275px;
    padding: 15px;
    border-radius: 10px;
    margin: 0px auto;
}

.form{
	padding: 20px 50px;
}

.form-control{
    padding: 6px 10px;
    text-align: center;
}

.input{
	width: 150px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 4px;	
    margin: 20px auto;
}
.btnstyle{
	color:white;
	font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    background-color: black;
    border-color: gray;
}
.btn{
	margin: 0px 85px;
	
	padding: 10px 16px;
    
}



.buttons{
	margin:10px 487px;

}
.btn1{
	
	
	padding: 20px 16px;
    
}
