body {

  background-image: url("http://www.freeimageslive.co.uk/image/view/7010/_original");
  background-repeat:no-repeat;
  background-size:cover;
}

.heading {
  padding-top: -10px;
  text-align: center;
}


h2 {
  font-size: 50px;
  font-family: courier;
  color: black;
}

.box {
  width: 275px;
  padding-top: -10px;
  border-radius: 10px;
  margin: 0px auto;
}

.form {
  padding: 20px 50px;
}

.form-control {
  padding: 6px 10px;
  text-align: center;
}

.input {
  width: 150px;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px auto;
}

.btnstyle {
  color: white;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  background-color: black;
  border-color: gray;
}

.btn {
  margin: 0px 85px;
  padding: 10px 16px;
}

.buttons {
  padding-top: 10px;
}

.btn1 {
  padding: 20px 6px;
}

.style{
	color: black;
	font-weight: 80px;
	font-style: italic;
	margin: 20px 55px;
}
.style1{
	text-align: center;
}
